body {
    background-color:rgb(173, 164, 164);
    background-image: url(wp7420853.jpg);
    background-position: center;

}

.title, .subtitle{
    color:white
}

.post_title {
    color: rgb(0, 0, 0);
}

.post_title{
    font-size: 16px;
    font-style: italic;
}

.post1{
    background-color: rgb(243, 242, 242);
    padding: 10px 25px ;
    border: 5px solid tomato;
    margin: 10px;
}
.rodape{
    background-color: rgb(243, 242, 242);
    padding: 10px 25px ;
    border: 5px solid tomato;
    margin: 10px;
}
.seção{
    background-color: rgb(180, 53, 53);
    border: 5px solid tomato;
    margin:auto
}