body {
    background-color:rgb(173, 164, 164);
    background-image: url(wp7420853.jpg);
    background-position: center;
    font-family: Verdana;

}
.header_image{
    border: 1px solid white;
    border-radius:50%;   
}
.title{
    font-size: 60px;
    text-transform: uppercase;
}
    a{
        text-decoration: underline;
        color:black

}
.title, .subtitle{
    color:white
}

.post_title {
    color: rgb(0, 0, 0);
}

.post_title{
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}
.post_image{
    margin: 0;
    margin-bottom: 15px;
}

.post1{
    background-color: rgb(243, 242, 242);
    padding: 10px 25px ;
    border: 5px solid tomato;
    margin: 10px;
}
.rodape{
    background-color: rgb(243, 242, 242);
    padding: 10px 25px ;
    border: 5px solid tomato;
    margin: 10px;
}
.seção{
    background-color: rgb(180, 53, 53);
    border: 5px solid tomato;
    margin:auto
}
.post_content{
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
}